<label for="singleFile">Upload file</label>
<input id="singleFile" type="file" [fileUploadInputFor]="fileUploadQueue1" />
<br />

<mat-file-upload-queue
  #fileUploadQueue1
  [fileAlias]="'file'"
  [httpUrl]="'http://localhost:8080/jax-rs-jersey-application-sample'"
>
  <mat-file-upload
    [file]="file"
    [id]="i"
    *ngFor="let file of fileUploadQueue1.files; let i = index"
  ></mat-file-upload>
</mat-file-upload-queue>

<div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">
  Just drag and drop files here
</div>

<div style="width: 500px;">
  <mat-file-upload-queue
    #fileUploadQueue
    [fileAlias]="'file'"
    [httpUrl]="'http://localhost:8080/jax-rs-jersey-application-sample'"
    multiple
  >
    <mat-file-upload
      [file]="file"
      [id]="i"
      *ngFor="let file of fileUploadQueue.files; let i = index"
    ></mat-file-upload>
  </mat-file-upload-queue>
</div>
